---
files:
  "/var/app/install_rabbitmq_management.sh":
    owner: root
    content: "#!/usr/bin/env bash\n\necho \"Installing rabbitmq management\"\n\nexport
      HOME=/var/lib/rabbitmq/    \nrabbitmq-plugins enable rabbitmq_management\n\necho
      \"Done\"\n\nrabbitmqctl -n rabbit add_user 5ebe2294ecd0e0f08eab7690d2a6ee69
      eac8d74fae134a9bbedb21ff824605eab6d858ef\n\nrabbitmqctl -n rabbit set_user_tags
      5ebe2294ecd0e0f08eab7690d2a6ee69 administrator\n\nrabbitmqctl -n rabbit set_permissions
      -p / 5ebe2294ecd0e0f08eab7690d2a6ee69 \".*\" \".*\" \".*\"\n\nrabbitmqctl -n
      rabbit delete_user guest\n\n            service rabbitmq-server restart\n\necho
      \"Done installing rabbitmq management\"\n"
    group: root
    mode: '000777'
    encoding: plain
  "/var/app/restart_rabbitmq.sh":
    owner: root
    content: |
      #!/usr/bin/env bash

      service rabbitmq-server restart
    group: root
    mode: '000777'
    encoding: plain
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99999_install_rabbitmq_management":
    owner: root
    content: |
      #!/usr/bin/env bash

      sh /var/app/install_rabbitmq_management.sh
    group: root
    mode: '000777'
  "/etc/cron.d/try-to-start-rabbitmq-cronjob":
    owner: root
    content: "* * * * * root sh /var/app/start_rabbitmq.sh\n"
    group: root
    mode: '000777'
    encoding: plain
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99999_install_rabbitmq":
    owner: root
    content: |
      #!/usr/bin/env bash

      sh /var/app/install_rabbitmq.sh
    group: root
    mode: '000777'
  "/var/app/start_rabbitmq.sh":
    owner: root
    content: |
      #!/usr/bin/env bash

      service rabbitmq-server start
    group: root
    mode: '000777'
    encoding: plain
  "/var/app/install_rabbitmq.sh":
    owner: root
    content: |
      #!/usr/bin/env bash

      yum -y update

      wget http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm

                  wget http://rpms.famillecollet.com/enterprise/remi-release-6.rpm

                  rpm -Uvh remi-release-6*.rpm epel-release-6*.rpm

      wget http://www.rabbitmq.com/releases/rabbitmq-server/v3.2.2/rabbitmq-server-3.2.2-1.noarch.rpm

      rpm --import http://www.rabbitmq.com/rabbitmq-signing-key-public.asc

      yum install -y rabbitmq-server-3.2.2-1.noarch.rpm

      echo "rabbit" > /etc/hostname

      echo "127.0.0.1 rabbit" >> /etc/hosts

      hostname -F /etc/hostname

      service rabbitmq-server start

      echo "Done installing rabbitmq"
    group: root
    mode: '000777'
    encoding: plain
